/*全体*/
body {
    background-color: #FFF6F6;
    /*font-family: 'Sawarabi Gothic', sans-serif;*/
}

a {
    color: #333;
    text-decoration: none;
}

footer {
    margin: 100px;
}

/*userトップページ*/

/*ページリンク*/
#page-link {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#page-link li {
    list-style: none;
}

#page-link li a {
    padding: 0 20px;
    text-decoration: none;
}

#top, #about, #dogsandcats, #reservation, #contact, #sns {
    padding: 150px 0;
}