/*全体*/
body {
    background-color: #F6E6CB;
    /*font-family: 'Sawarabi Gothic', sans-serif;*/
}

a, a:hover, a:visited {
    color: #333;
    text-decoration: none;
}

footer {
    margin: 100px;
}

img {
    border-radius: 20px;
}

.logo {
    padding-bottom: 50px;
    padding-top: 20px;
}

.btn {
    background-color: #E7D4B5;
}

.btn:hover {
    background-color: #A0937D;
}

/*userトップページ*/
#top, #about, #dogsandcats, #reservation, #contact, #sns {
    padding: 150px 0;
}

.top-title {
    font-size: 60px;
    color: #A0937D;
    margin-bottom: 20px;
}

.second-title {
    font-size: 40px;
    color: #A0937D;
    margin: 20px 0;
}

.user-top p {
    color: #A0937D;
}

.user-top img {
    border-radius: 50px;
}

.icon a{
    padding: 20px;
}

/*ページリンク*/

#page-link {
    display: flex;
    justify-content: center;
    padding: 20px;
}

#page-link li {
    list-style: none;
}

#page-link li a {
    padding: 0 20px;
    text-decoration: none;
}

/*ログイン・会員登録ページ*/
.caution {
    position: relative;
    margin: 2em 0;
    position: center;
    padding: 0.5em 1em;
    border: solid 3px #E3CDC1;
    border-radius: 8px;
}

.caution .caution-title {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background-color: #F6E6CB;
    color: #E3CDC1;
    font-weight: bold;
}

.caution p {
    margin: 0;
    padding: 0;
}

/*わんにゃん一覧*/
.gender-girl {
    color: #FB929E;
}

.gender-boy {
    color: #AEDEFC;
}

.box {
    width: 270px;
    display: inline-block;
    padding: 10px;
    margin-left: 5px;
    margin-bottom: 30px;
    background-color: #E7D4B5;
    border-radius: 10px;
}

.box img {
    padding-bottom: 10px;
}

.animal-index {
    display: flex;
    flex-wrap: wrap;
}

/*わんにゃん詳細*/
.show-box {
    padding: 20px;
    margin: 20px;
    background-color: #E7D4B5;
    border-radius: 10px;
}

.information-box {
    position: relative;
    padding: 0.5em 0.7em;
    margin: 2em 0;
    border-radius: 20px;
    background-color: #A0937D;
    color: white;
}

.information-box:after {
    position: absolute;
    content: '';
    top: 100%;
    left: 30px;
    border: 15px solid transparent;
    border-top: 15px solid #A0937D;
    width: 0;
    height: 0;
}

.information-box p {
    margin: 0;
    padding: 0 0 0 5px;
}

.information-form {
    margin-top: 30px;
}

.information-time {
    text-align: right;
    font-size: 12px;
}

.information-box .btn {
    background-color: #A0937D;
}

.information-box .btn:hover {
    background-color: #E7D4B5;
}

/*マイページ*/
.mypage {
    padding: 30px;
    background-color: #E7D4B5;
    border-radius: 20px;
}

.center-animal-index {
    padding-top: 40px;
}